# App
APP_PORT=

# App connections
CORS_ALLOWED_ORIGIN=
JWT_SECRET=

# Database
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

# 3rd-party SMTP
BREVO_API_KEY=

# Email verification
CLIENT_ENDPOINT=
CLIENT_EMAIL_VERIFY_PATH=

# 3rd-party storage
OBJECT_STORAGE_ACCESS_ID=
OBJECT_STORAGE_ACCESS_SECRET=
BUCKET_NAME=os-wsp1997969898039369728-wfhb-uutx-grju3nvc
PRESIGN_DURATION=15m
